@using System.Web.Mvc;
@using System.Web;
@using System;
@using System.Collections.Generic;
@using System.Linq;
@using System.Data;
@using _5MRF_MVC.Models;
@using System.ComponentModel;
@using System.ComponentModel.DataAnnotations;


@{
    
    //DataVariables DataVariables = new DataVariables();
    ViewBag.Title = "Index";
    Layout = "~/Views/Main_Dashboard.cshtml";
}

@section HeaderSection {
   
}


<div class="m-portlet">
    <div class="row">

        <div class="col-md-10">
            <img src="~/Theme/assets/app/media/img/homeback.png" class="img-responsive" style="max-width:100%"/>
        </div>

    </div>
    
</div>

@section FooterSection {
  
}