@using System.Web.Mvc;
@using System.Web;
@using System;
@using System.Collections.Generic;
@using System.Linq;
@using System.Data;
@using _5MRF_MVC.Models;
@using System.ComponentModel;
@using System.ComponentModel.DataAnnotations;

@{
    ViewBag.Title = "PasswordReset";
    Layout = "~/Views/Main_Dashboard.cshtml";
}

@section HeaderSection {

}


<div class="m-portlet">
    <div class="m-portlet__body">
        <div class="row">
           
                <h4>
                    <span class="m-nav__link-text">PASSWORD RESET</span>
                </h4>
            </br>
            <div class="col-md-10">

                <form class="m-login__form m-form" id="frmLog" method="post" action="@Url.Action("PasswordReset", "Account")">
                    <div class="form-group m-form__group">
                        <input class="form-control m-input" type="password" placeholder="Old Password" id="txtOldPass" name="txtOldPass" required autocomplete="off">
                    </div>
                    <div class="form-group m-form__group">
                        <input class="form-control m-input m-login__form-input--last" type="password" placeholder="New Password" id="txtNewPass" name="txtNewPass" autocomplete="off" required>
                    </div>

                    <div class="m-login__action">

                        <a href="#">
                            <button type="submit" id="m_login_signin_submit" class="btn btn-warning m-btn m-login__btn--primary">Update Password</button>
                        </a>
                    </div>

                </form>

            </div>

        </div>

    </div>
</div>
@section FooterSection {

}

